replicaCount: 1

image:
  repository: docker.io/keptncontrib/job-executor-service
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: ""

jobexecutorserviceinitcontainer:
  image:
    repository: docker.io/keptncontrib/job-executor-service-initcontainer # Container Image Name
    tag: ""                                                               # Container Tag

distributor:
  stageFilter: ""                            # Sets the stage this helm service belongs to
  serviceFilter: ""                          # Sets the service this helm service belongs to
  projectFilter: ""                          # Sets the project this helm service belongs to
  image:
    repository: docker.io/keptn/distributor  # Container Image Name
    pullPolicy: IfNotPresent                 # Kubernetes Image Pull Policy
    tag: "0.10.0"                             # Container Tag

remoteControlPlane:
  enabled: false                             # Enables remote execution plane mode
  topicSubscription: "sh.keptn.event.test.triggered,sh.keptn.event.deployment.triggered,sh.keptn.event.evaluation.triggered,sh.keptn.event.release.triggered,sh.keptn.event.approval.triggered" # Specify list of CloudEvents to subscribe to in the case of remote control plane
  api:
    protocol: "https"                        # Used Protocol (http, https)
    hostname: ""                             # Hostname of the control plane cluster (and Port)
    apiValidateTls: true                     # Defines if the control plane certificate should be validated
    token: ""                                # Keptn API Token

jobConfig:
  enableKubernetesApiAccess: false           # whether or not the started jobs should have Kubernetes API Access


imagePullSecrets: [ ]                        # Secrets to use for container registry credentials

serviceAccount:
  create: true                               # Enables the service account creation
  annotations: { }                           # Annotations to add to the service account
  name: ""                                   # The name of the service account to use.

config:
  storageClassName: "gp2"
  storageVolumeName: "job-executor-service-git-volume"

podAnnotations: { }                           # Annotations to add to the created pods

podSecurityContext: { }                       # Set the pod security context (e.g. fsGroups)
# fsGroup: 2000

securityContext: { }                          # Set the security context (e.g. runAsUser)
#  readOnlyRootFilesystem: true
#  runAsNonRoot: true
#  runAsUser: 1000
service:
  type: ClusterIP
  port: 8080

resources: # Resource limits and requests
  limits:
    cpu: 1
    memory: 512Mi
  requests:
    cpu: 50m
    memory: 128Mi

nodeSelector: { }                                # Node selector configuration

tolerations: [ ]                                 # Tolerations for the pods

affinity: { }                                    # Affinity rules
