# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

vendor/*
.DS_Store

# binaries (created by go build on Linux/OSX)
main
keptn-service-template-go

# IDE specific folders
.vscode

# only ignore contents of local .idea
.idea/*
# but allow .idea shared run configurations
!.idea/runConfigurations/
