{{ if .Values.networkPolicy.enabled }}
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: jes-network-policy
spec:
  podSelector:
    matchLabels:
      {{- include "job-executor-service.selectorLabels" . | nindent 6 }}
  policyTypes:
    - Ingress
    - Egress
  # ingress rules element is commented to deny all ingress traffic to the pod
  # ingress:
  egress:
    - to:
      - podSelector:
          matchLabels:
            app.kubernetes.io/name: api-gateway-nginx
            app.kubernetes.io/instance: keptn

    # Add egress to apiserver endpoints
    {{ if .Values.networkPolicy.k8sMasterCIDR }}

    # We have a value set for the master CIDR
    - to:
      - ipBlock:
          cidr: {{ .Values.networkPolicy.k8sMasterCIDR }}
      {{ if .Values.networkPolicy.k8sMasterPort }}
      ports:
        - port: {{ .Values.networkPolicy.k8sMasterPort }}
      {{ end }}

    {{else}}

    # Attempt at autodetect if the k8s master CIDR is not set
    {{ $endpoint := (lookup "v1" "Endpoints" "default" "kubernetes") }}
    {{ $https_port := 0 }}
    {{ range $_, $subset := $endpoint.subsets }}
    {{ range $_, $port := $subset.ports }}
    {{ if eq "https" $port.name }}
    {{ range $_, $address := $subset.addresses }}
    - to:
      - ipBlock:
          cidr: {{ printf "%s/32" $address.ip }}
      ports:
        - port: {{ $port.port }}
    {{ end }}
    {{ end }}
    {{ end }}
    {{ end }}
    {{ end }}

    # Allow DNS traffic to kube-dns pod
    - to:
      {{ if semverCompare ">= 1.21.0" .Capabilities.KubeVersion.Version }}
      - namespaceSelector:
          matchLabels:
            kubernetes.io/metadata.name: kube-system
      {{ end }}
      - podSelector:
          matchLabels:
            k8s-app: kube-dns
      ports:
      - protocol: UDP
        port: 53
{{ end }}