name: reviewdog
on: [pull_request]
jobs:
  reviewdog:
    name: reviewdog
    runs-on: ubuntu-latest
    steps:
      - name: Check out code.
        uses: actions/checkout@v3.6.0

      - name: golangci-lint
        uses: reviewdog/action-golangci-lint@v2
